body {
  margin: 0;
  background-image: url('https://media.istockphoto.com/id/482805043/photo/baseball-in-the-infield.jpg?s=612x612&w=0&k=20&c=I9ubYdLnf7heRWh7V8I0Zxo5s1OEBGMBgsj6Sg4b9Cs=');
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.signUpForm {
  text-align: center;
  display: center;
}

.home {
  color: white;
  font-size: 1rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.login {
  text-align: center;
  display: center;
}

ul {list-style: none}

li {list-style: none}

.gameCards {
  background-color: white;
  color: navy;
  border: navy solid 0.15rem;
  padding: 1rem;
  display: inline-grid;
  margin: 2rem;
  box-shadow: 3px 4px #504b55;
}

.centerDiv {
  text-align: center;
}

.userBets {
  background-color: white;
  color: navy;
  border: navy solid 0.15rem;
  padding: 1rem;
  display: inline-grid;
  margin: 2rem;
  box-shadow: 3px 4px #504b55;
}

.deleteButton {
  width: 3rem;
  margin: auto;
}

.editButton {
  width: 3rem;
  margin: auto;
}

.headers {
  color: white;
  text-align: center;
}

form {
  text-align: center;
}

.betForm {
  color: white;
}

.userComments {
  background-color: white;
  color: navy;
  border: navy solid 0.15rem;
  padding: 1rem;
  display: inline-grid;
  margin: 2rem;
  box-shadow: 3px 4px #504b55;
}

.betComments {
  background-color: white;
  color: navy;
  border: navy solid 0.15rem;
  padding: 1rem;
  display: inline-grid;
  margin: 2rem;
  box-shadow: 3px 4px #504b55;
}

table, td, th {
  border: 1px solid;
  border-collapse: collapse;
  text-align: center;
  padding: 1.25rem;
  background-color: white;
  width: fit-content;
}

.pitcherTable {
  margin-bottom: 2rem;
  box-shadow: 3px 4px #504b55;
  overflow-x: auto;
}

.hitterTable {
  margin-bottom: 2rem;
  margin-right: 1rem;
  box-shadow: 3px 4px #504b55;
}

.gameStats {
  text-align: center;
}

#gameStateH1 {
  color: white;
}

.gameStats button {
  display: inline-grid;
  padding: 0.25rem;
  margin-bottom: 0.25rem;
  margin-right: 0.5rem;
}

.bets {
  background-color: white;
  color: navy;
  border: navy solid 0.15rem;
  padding: 1rem;
  display: inline-grid;
  margin: 2rem;
  box-shadow: 3px 4px #504b55;
}

.betToCommentOn {
  background-color: white;
  color: navy;
  border: navy solid 0.15rem;
  padding: 1rem;
  display: inline-grid;
  margin: 2rem;
  box-shadow: 3px 4px #504b55;
}

.nav {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((90vw - 6.25rem) / 2);
}

.gameForm {
  color: white;
  text-align: center;
}

.gameForm input {
  margin: 0.5rem
}

.gameForm label {
  margin: 0.5rem
}

.gameForm select {
  margin: 0.5rem
}

.commentForm input {
  margin: 0.5rem
}

.commentForm label {
  margin: 0.5rem
}

.commentForm select {
  margin: 0.5rem
}

.betForm input {
  margin: 0.5rem
}

.betForm label {
  margin: 0.5rem
}

.betForm select {
  margin: 0.5rem
}

#addGame {
  color: white;
  text-align: center;
  text-decoration: underline;
}

button:hover{
  background-color: lightblue;
}

a:visited {
  text-decoration: none; 
  color: white;  
}

.logoutButton{
  position: fixed;
  right: 0.5rem;
  top: 1rem;
}

.loginModal {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  max-width: 100%;
  max-height: 100%;
  z-index: 1010;
  border: 5px solid navy;
  box-shadow: 3px 3px 10px rgba(0 0 0 / 0.5);
  text-align: center;
  background-color: white;
  color: navy;
}

.modalButtons {
  border: 1px white;
  margin-right: 9rem;
  margin-left: 9rem;
}

.errors {
  color: black;
  font-size: larger;
  -webkit-text-stroke: 1px darkred;
  text-align: center;
}