body {
  margin: 0;
  background-image: url('/home/mmonty22/Development/code/phase-5/phase-5-proj/client/src/background image/baseball in dirt.jpg');
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.signUpForm {
  text-align: center;
  display: center;
}

.addComment {
  text-align: center;
  display: center;
}

.home {
  color: white;
  font-size: 1rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  display: center;
}

.login {
  text-align: center;
  display: center;
}

ul {list-style: none}

li {list-style: none}

.gameCards {
  justify-content: center;
  text-align: center;
  background-color: white;
  color: navy;
  font-size: 1rem;
  border: grey solid 1px;
  padding: 1rem;
  width: 8rem;
  height: 2rem;
  display: inline-grid; /*puts cards horizontal*/
  margin: 2rem 1rem;
  box-shadow: 3px 4px #504b55
}

.userBets {
  justify-content: center;
  text-align: center;
  background-color: white;
  color: navy;
  font-size: 1rem;
  border: grey solid 1px;
  padding: 1rem;
  width: fit-content;
  height: fit-content;
  display: inline-grid; /*puts cards horizontal*/
  margin: 2rem 1rem;
  box-shadow: 3px 4px #504b55
}

.deleteButton {
  width: 3rem;
  margin: auto;
}

.editButton {
  width: 3rem;
  margin: auto;
}

.headers {
  color: white;
  text-align: center;
}

form {
  text-align: center;
}

.betForm {
  color: white;
}

.userComments {
  justify-content: center;
  text-align: center;
  background-color: white;
  color: navy;
  font-size: 1rem;
  border: grey solid 1px;
  padding: 1rem;
  width: fit-content;
  height: fit-content;
  display: inline-grid; /*puts cards horizontal*/
  margin: 2rem 1rem;
  box-shadow: 3px 4px #504b55
}

.betComments {
  justify-content: center;
  text-align: center;
  background-color: white;
  color: navy;
  font-size: 1rem;
  border: grey solid 1px;
  padding: 1rem;
  width: fit-content;
  height: fit-content;
  display: inline-grid; /*puts cards horizontal*/
  margin: 2rem 1rem;
  box-shadow: 3px 4px #504b55
}

table, td, th {
  border: 1px solid;
  border-collapse: collapse;
  text-align: center;
  padding: 1.25rem;
  background-color: white;
  width: fit-content;
}

.pitcherTable {
  margin-bottom: 2rem;
  box-shadow: 3px 4px #504b55;
  overflow-x: auto;
}

.hitterTable {
  margin-bottom: 2rem;
  margin-right: 1rem;
  box-shadow: 3px 4px #504b55;
}

.gameStats {
  text-align: center;
}

#gameStateH1 {
  color: white;
}

.gameStats button {
  display: inline-grid;
  padding: 0.25rem;
  margin-bottom: 0.25rem;
  margin-right: 0.5rem;
}

.bets {
  justify-content: center;
  text-align: center;
  background-color: white;
  color: navy;
  font-size: 1rem;
  border: grey solid 1px;
  padding: 1rem;
  width: fit-content;
  height: 5rem;
  display: inline-grid; /*puts cards horizontal*/
  margin: 2rem 1rem;
  box-shadow: 3px 4px #504b55
}

.comment {
  text-align: center;
  justify-content: center;
  background-color: white;
  color: navy;
  font-size: 1rem;
  border: grey solid 1px;
  padding: 1rem;
  width: fit-content;
  height: fit-content;
  margin: 2rem 1rem;
  box-shadow: 3px 4px #504b55
}

.nav {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((90vw - 6.25rem) / 2);
}

#addGame {
  color: white;
  text-align: center;
  text-decoration: underline;
}

button:hover{
  background-color: lightblue;
}

a:visited {
  text-decoration: none; 
  color: white;  
}

.logoutButton{
  position: fixed;
  right: 0.5rem;
  top: 1rem;
}

.loginModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  max-width: 100%;
  max-height: 100%;
  z-index: 1010;
  border: 5px solid navy;
  background-color: lightblue;
  box-shadow: 3px 3px 10px rgba(0 0 0 / 0.5);
  text-align: center;
}

.modalButtons {
  background-color: white;
  border: 1px white;
  margin-right: 9rem;
  margin-left: 9rem;
}
